:root {
	--black: #3B434E;
	--white: white;
	--gray-light: #EBEBEB;
	--primary: #7653FC;
	--primary-hover: #6949de;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
}

* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	overflow-x: hidden;
	color: var(--black);
	max-width: 100vw;
	background: #F5F6F8;
}

