.main {
	/*display: flex;*/
	/*align-items: center;*/
	/*flex-direction: column;*/
	/*justify-content: space-between;*/

	/*min-height: 100vh;*/
	/*padding: 6rem;*/
	max-width: 100%;
	display: grid;
	gap: 15px;
	grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
	justify-items: center;
	grid-auto-rows: auto;
}

@media (min-width: 3850px) {
	.main {
		grid-template-columns: repeat(10, 1fr);
	}
}
